<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/forms.css">
    <script src="./JS/loginmsgreader.js" defer></script>
    <title>Login Todo</title>
</head>

<body>
    <nav>
        <div class="logo"><img src="./SVGs/codebotlogosvg.svg" alt="./The codebots" id="logo" class="navimages"></div>
        <div class="socialLinks">
            <a target="_blank" href="https://www.facebook.com/nitish.upadhyay.75033"><img src="./SVGs/facebook-svgrepo-com.svg" alt="Join me on facbook" class="navimages"></a>
            <a target="_blank" href="https://instagram.com/upadhyay_.002?igshid=MzNlNGNkZWQ4Mg=="><img src="./SVGs/instagram-svgrepo-com.svg" alt="Join me on instagram" class="navimages"></a>
            <a target="_blank" href="https://www.linkedin.com/in/nitish-upadhyay-696978177"><img src="./SVGs/linkedin-svgrepo-com.svg" alt="Join me on linkdin" class="navimages"></a>
            <a target="_blank" href="https://twitter.com/Nitish__003?t=_wqKiFf1dqFB-pwZMA7wvg&s=09"><img src="./SVGs/twitter-svgrepo-com.svg" alt="Join me on twitter" class="navimages"></a>
        </div>
    </nav>
    <div class="alert">
        <span class="msg"></span>
        <div class="time"></div>
    </div>
    <div class="intro">
        <h1>Welcome Back</h1>
        <p>to ToDo App</p>
        <p id="punchline">Designed to streamline your daily tasks and boost productivity effortlessly.</p>
    </div>
    <div class="parent">
        <div class="svg">
            <img src="./Images/7495404.jpg" alt="Todo image">
        </div>
        <div class="form">
            <form method="post">
                <h1>Login</h1>
                <input type="text" name="Email" placeholder="Email*" required>
                <input type="password" name="Password" placeholder="Password*" id="passwordBox" required>
                <div id="icons"><img src="./SVGs/eye-closed-svgrepo-com.svg" alt="show password" id="closedEye"><img src="./SVGs/eye-svgrepo-com.svg" alt="hide password" id="openEye"></div>
                <input type="submit" value="Login">
                <p><a href="/reg">Register</a></p>
            </form>
        </div>
    </div>
</body>
</html>